name: Deploy Node App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            whoami
            pwd
            node -v
            npm -v
            pm2 -v
            cd /home/ubuntu/carrier-backend
            git config pull.rebase false
            git stash
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            npm install --production
            pm2 restart all
